name: CI

on:
  push:
    # branches:
    #   - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v1
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/
      # caching
      # - uses: actions/cache@v2
      #   with:
      #     path: ~/.npm
      #     key: ${{ runner.os }}-npm-
      #     restore-keys: |
      #       ${{ runner.os }}-npm-
      - name: Cache pnpm modules
        uses: actions/cache@v2
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-
      # setup pnpm
      - uses: pnpm/action-setup@v2.0.1
        with:
          version: 7
          run_install: false
      # scripts
      - run: pnpm i --store-dir ~/.pnpm-store
      - run: yarn build
      - run: yarn test
      # - name: Create Release
      #   id: changesets
      #   uses: changesets/action@master
      #   # with:
      #   #   publish: yarn release
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #     NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
